.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode #buttonmodoclaro {
    color: white;
    font-weight: bold;
    border: 1px solid #a0a0a0;
    box-shadow: 0 0 4px 0 #8e8e8e inset;
}

#buttonmodoclaro{
    
    padding: 6px;
    border: 1px solid #561010;
    border-radius: 6px;
    margin-left: 21px;
    cursor: pointer;
    box-shadow: 0 0 6px 0 #171717 inset;
    color: red;
    background: none;
    font-variant: all-small-caps;
    font-family: sans-serif;
    font-size: 14px;
}
